
p {
    font-family: "Verdana", Times, serif;
}

b { 
    font-weight: bold;
  }

#content {
    background-color:rgba(118, 255, 77, 0.3);
}

#textbox {
    background-color:rgba(255, 255, 255, 0.6);
}

#backArrow{
    height: 100px;
}
